<ul>
<% @links.each do |link| %>
 <li>
   <p><a href="<%= link.linkAddress %>"><%= link.linkAddress %></a> from <%= link.linkAuthor %></p>

   <p><a href="/createComment/<%= link.id %>">Add Comment</a></p>
 
 
  <ul>
   <% comments = getComment(link.id)%>
  <% comments.each do |n| %>
  <li>
   <p><%= n.comment %></p>
  </li>
  <% end %>
  </ul>
 
 
 
   
 </li>
<% end %>
</ul>

<p><a href="/create">Add Link</a></p>
